# Download Scrapped Data

In [3]:
# # Run this if you want to download the dataset
# !pip install gdown
# import gdown
# gdown.download('https://drive.google.com/uc?id=1-9IKXHKjXVStQiJiq1j4ZruDfRnLs0FP', 'combined.csv', quiet=False)

# Preprocess the Data

In [1]:
import pandas as pd

df = pd.read_csv('combined.csv')
shuffled_light_df = df.sample(500)

In [2]:
shuffled_light_df.head()

,Question,Answer
219301,"Hai dok.\nNama saya zakaria,umur 32 tahun.\nSa...","Halo Zakaria, terimakasih atas pertanyaan Anda..."
223865,"Dok, apa hilang ingatan bisa terjadi tanpa ter...","Halo, terima kasih telah bertanya ke Alodokter..."
212523,"selamat siang dokter ,saya mw tanya temen saya...","Dear Nabila, \nKeluarnya cairan seperti nanah ..."
8991,Assalamualaikum dok. Saya wanita 20 tahun. Say...,"Alo, terimakasih atas pertanyaannya.\nAsam lam..."
147098,"Pagi dok saya mau bertanya, bulan lalu saya ke...","Salam Alodokter,\nTerima kasih sudah bertanya ..."

In [3]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df):
    # Drop rows with missing data in column: 'Question'
    df = df.dropna(subset=['Question'])
    # Drop rows with missing data in column: ' Answer'
    df = df.dropna(subset=[' Answer'])
    # Drop duplicate rows in column: 'Question'
    df = df.drop_duplicates(subset=['Question'])
    # Drop duplicate rows in column: ' Answer'
    df = df.drop_duplicates(subset=[' Answer'])
    # Convert text to lowercase in columns: 'Question', ' Answer'
    df['Question'] = df['Question'].str.lower()
    df[' Answer'] = df[' Answer'].str.lower()
    return df

df_cleaned_missing_values = clean_data(shuffled_light_df.copy())
df_cleaned_missing_values.head()

,Question,Answer
219301,"hai dok.\nnama saya zakaria,umur 32 tahun.\nsa...","halo zakaria, terimakasih atas pertanyaan anda..."
223865,"dok, apa hilang ingatan bisa terjadi tanpa ter...","halo, terima kasih telah bertanya ke alodokter..."
212523,"selamat siang dokter ,saya mw tanya temen saya...","dear nabila, \nkeluarnya cairan seperti nanah ..."
8991,assalamualaikum dok. saya wanita 20 tahun. say...,"alo, terimakasih atas pertanyaannya.\nasam lam..."
147098,"pagi dok saya mau bertanya, bulan lalu saya ke...","salam alodokter,\nterima kasih sudah bertanya ..."

In [16]:
def clean_identity_info(cleaned_data):
    # remove unfaedah
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("\S*\.com\S*", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("halo[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hai[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("alo[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hallo[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hei[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hay[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("terimakasih[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("terima kasih[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("halo[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hai[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("alo[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hallo[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hei[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("hay[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("terimakasih[,.\n\s]", "", case=False, regex=True)
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("terima kasih[,.\n\s]", "", case=False, regex=True)
    cleaned_data['Question'] = cleaned_data['Question'].str.replace("Selamat pagi", "", case=False, regex=False)
    
    # cleaning dr name
    cleaned_data[' Answer'] = cleaned_data[' Answer'].str.replace("dr\\.[^.,]*", "", case=False, regex=True)
    cleaned_data['Question'] = cleaned_data['Question'].str.replace("alodokter", "", case=False, regex=False)
    
    #shorten dataset
    cleaned_data[' Answer'] = cleaned_data[' Answer'].apply(lambda x: x[:4500] if len(x) > 4500 else x)
    
    
    return df

cleaned_data = clean_identity_info(df_cleaned_missing_values.copy())
cleaned_data.head()

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:9: SyntaxWarning: invalid escape sequence '\s'
<>:10: SyntaxWarning: invalid escape sequence '\s'
<>:11: SyntaxWarning: invalid escape sequence '\s'
<>:12: SyntaxWarning: invalid escape sequence '\s'
<>:13: SyntaxWarning: invalid escape sequence '\s'
<>:14: SyntaxWarning: invalid escape sequence '\s'
<>:15: SyntaxWarning: invalid escape sequence '\s'
<>:16: SyntaxWarning: invalid escape sequence '\s'
<>:17: SyntaxWarning: invalid escape sequence '\s'
<>:18: SyntaxWarning: invalid escape sequence '\s'
<>:19: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:9: SyntaxWarning: invalid escape sequence '\s'
<>:10: SyntaxWarning: invalid escape sequence '\s'
<>:11: SyntaxWarning: invalid escape sequence '\s'
<>:12: SyntaxWarning: invalid escape sequence '\s'
<>:13: SyntaxWarning: invalid escape sequence '\s'
<>:14: SyntaxWarning: invalid escape sequence '\s'
<>:15: SyntaxWarning: invalid escape sequence '\s'
<>:16: SyntaxWarning: invalid escape sequence '\s'
<>:17: SyntaxWarning: invalid escape sequence '\s'
<>:18: SyntaxWarning: invalid escape sequence '\s'
<>:19: SyntaxWarning: invalid escape sequence '\s'
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:3: SyntaxWarning: invalid escape sequence '\S'
  df[' Answer'] = df[' Answer'].str.replace("\S*\.com\S*", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:4: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("halo[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:5: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hai[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:6: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("alo[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:7: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hallo[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:8: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hei[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:9: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hay[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:10: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("terimakasih[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:11: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("terima kasih[\s,][a-z \s]+[.,\n]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:12: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("halo[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:13: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hai[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:14: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("alo[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:15: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hallo[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:16: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hei[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:17: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("hay[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:18: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("terimakasih[,.\n\s]", "", case=False, regex=True)
C:\Users\ryori\AppData\Local\Temp\ipykernel_13836\4155578926.py:19: SyntaxWarning: invalid escape sequence '\s'
  df[' Answer'] = df[' Answer'].str.replace("terima kasih[,.\n\s]", "", case=False, regex=True)

,Question,Answer
219301,"hai dok.\nnama saya zakaria,umur 32 tahun.\nsa...","dalam bahasa medis, kondisi ini disebut myal..."
223865,"dok, apa hilang ingatan bisa terjadi tanpa ter...",hilang ingatan setelah nangis berjam-jam akiba...
212523,"selamat siang dokter ,saya mw tanya temen saya...","dear nabila, \nkeluarnya cairan seperti nanah ..."
8991,assalamualaikum dok. saya wanita 20 tahun. say...,\nasam lambung yang meningkat memang bisa menj...
147098,"pagi dok saya mau bertanya, bulan lalu saya ke...","salam alodokter,\n\nadanya riwayat keluhan ken..."

# Export Cleaned Data to CSV

In [8]:
## Preprocess dataframe
rename_mapping = {'Question': 'instruction', ' Answer': 'output'}
cleaned_data = cleaned_data.rename(columns=rename_mapping)
cleaned_data['input'] = [''] * len(cleaned_data)

In [30]:
import json
small_data = clean_identity_info(df_cleaned_missing_values.copy())

# Assuming you have a DataFrame named df
data_list = small_data.to_dict(orient='records')

# Save the list of dictionaries as a JSON file
with open('output2.json', 'w') as file:
    json.dump(data_list, file, indent=4)